
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Qahiri&family=Zen+Kaku+Gothic+New:wght@300&display=swap');
#contaner{
    height: 60vh;
    width: 10vw;
    line-height: 35px;
    font-size: 20px;
    padding-left: 50px;
    font-family: 'Oswald', sans-serif;
font-family: 'Qahiri', sans-serif;
font-family: 'Zen Kaku Gothic New', sans-serif;
}
#nav{
    height: 70px;
    color: wheat;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
h1{
    text-align: center;
}
#text{
    margin-top: 5px;
    margin: 5px;
    height: 30px;
    font-size: 20px;
    border: 1px solid black;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}
#button{
    height: 30px;
    width: 100px;
    margin-left: 3px;
    background-color: blue;
    color: whitesmoke;
    cursor: pointer;
}
footer{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.hover:hover{
    font-size: 20px;

    background-color: violet;
}
@media screen and (max-width:780px){
    #nav{
      
        font-size: 20px;
    }
    .box2{
        flex-direction: column;
    }
    
}
@media screen and (max-width:380px){
    #nav{
  
        font-size: 15px;
    }
    
}
